<!-- <app-fronttop></app-fronttop> -->

<div class="ln">

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" >

    </mat-form-field>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <br>
</div>

<a href='javascript:void(0)'>Forgot Password?</a>
<br>

<button mat-raised-button color="primary">Login</button>

<br>
Nead an account?
<button class="reg" mat-raised-button (click)="register()">Register</button>


