<app-fronttop></app-fronttop>

<div class="ln">
    &#9673;&nbsp;&nbsp;&nbsp;
<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text">
</mat-form-field>
<br>
&#9673;&nbsp;&nbsp;&nbsp;
<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<br>
<a href="">Forget Password?</a>
No account?
<a href="\register\register.component.ts">Register</a>

</div>