<div class="position">
    <h1 style="color:white">LOST AND FOUND PORTAL</h1>
    <h3 style="color:white">A WEB PORTAL FOR LOST AND FOUND PEOPLE</h3>
</div>

<div class="pos">
    <br>
    <h2 style="color:rgb(0, 47, 255)">NAVIGATE TO:</h2>
    <button class="size" mat-raised-button color="primary">Add the found items</button>
</div>
<div class="section">
    <div class="row">
        <div class="column side">
            <h2 class="c">1.CLICK ON ADD BUTTON TO ADD FOUND ITEMS</h2>
            <p class="a">To add data you need to give your details also. </p>


        </div>
        <div class="column middle">
            <h2 class="d">2.REGISTER FOR SEARCH</h2>
            <P class="b">
                To search the lost iteams you need to register yourself .
            </P>
        </div>
        <div clas="column side">

            <h2 class="e"> 3. GET INFORMATION</h2>
            <P class="f">
                If you want search any item then go to list of item.
            </P>

        </div>
    </div>
</div> -->