<!-- <div [formGroup]="userForm" class="tab">

    <h1>Registration </h1>
    <table class="reg">
       <br>
                <mat-form-field appearance="fill">
                    <mat-label>First Name </mat-label>
                    <input matInput formControlName="firstName" type="text">
                </mat-form-field>
            <br>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name </mat-label>
                    <input matInputformControlName="lastName"  type="text">
                </mat-form-field>
          <br>
       
                <mat-form-field appearance="fill">
                    <mat-label>Gender </mat-label>
                    <input matInput formControlName="gender" type="text">
                </mat-form-field>
           <br>
                <mat-form-field appearance="fill">
                    <mat-label> Email-Id </mat-label>
                    <input matInput formControlName="email" type="text">
                </mat-form-field>
         <br>
                <mat-form-field appearance="fill">
                    <mat-label> Phone No </mat-label>
                    <input matInput formControlName="phone"  type="text">
                </mat-form-field>
          <br>  
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input mat InputformControlName="address"  type="text">
                </mat-form-field>
          <br>
        
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            
           <br>
                <mat-form-field appearance="fill">
                    <mat-label>Security question for password recovery<br>
                        Enter your pet name</mat-label>
                    <input matInput formControlName="SecurityQuestion" type="text">
                </mat-form-field>
            
        
        <div class="sub">
            <tr>
                <button mat-raised-button color="primary" (click)="onSubmit()">submit</button>
            </tr>
        </div>
    </table>
</div> -->


<div [formGroup]="userForm"> 
    <p><input type="text" placeholder="first Name " formControlName="firstName" required></p>
    <p><input type="text" placeholder="Last Name " formControlName="lastName"></p>
    <p><input type="text" placeholder="gender" formControlName="gender" required></p>
    <p><input type="text" placeholder="email " formControlName="email"></p>
    <p><input type="text" placeholder="phone " formControlName="phone"></p>
    <p><input type="text" placeholder="address " formControlName="address"></p>
    <p><input type="text" placeholder="password " formControlName="password" required></p>
    <p><input type="text" placeholder="security question " formControlName="SecurityQuestion"></p>
    <input type="Submit" (click)="onSubmit()">
</div> 