<div class="tab">

    <h1>Registration </h1>
    <table class="reg">
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>First Name </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td> 
                <mat-form-field appearance="fill">
                    <mat-label>Gender </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label> Email-Id </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label> Phone No </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Security question for password recovery<br>
                        Enter your pet name</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </td>
        </tr>
        <div class="sub">
            <tr>
                <button mat-raised-button color="primary">submit</button>
            </tr>
        </div>
    </table>
</div>